{% load static %}
<!doctype html>
<html lang="jp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}Books</title>
        <link rel="stylesheet" href="{% static 'myapp/css/reset.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}">
    </head>
    <body class="blue">
    {% block content %}
        <div class="login">
            <h1 class="login-title">LOGIN</h1>
            <form method="post" class="login-inner">
                {% csrf_token %}
                {% for error in form.errors.values %}
                {{ error }}
                {% endfor %}
                <input type="text" class="form-control my-4" name="username" placeholder="ユーザー名">
                <input type="password" class="form-control my-4" name="password" placeholder="パスワード">
                <button type="submit" class="login-btn">ログインする</button>
            </form>
        </div>
    {% endblock %}
    </body>